<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="myAppSettings"
                 type="Exercise3.MyAppSettings, Exercise3"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <myAppSettings>
        <traceOption enabled="true"
                     filePath="C:\MyApp\Trace.log"
                     bufferSize="10240" />
        <CalendarOption StringFormat="yyyy年MM月dd日(ddd)"
                Minimum="1900/1/1"
                Maximum="2100/12/31"
                MondayIsFirstDay="True" />  
    </myAppSettings>
</configuration>