<?xml version="1.0" encoding="utf-8" ?>
<!-- List 14-13 -->
<configuration>
    <configSections>
        <section name="myAppSettings"
                 type="CSharpPhrase.CustomSection.MyAppSettings, Section03"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="EnableTrace" value="true" />
        <add key="Timeout" value="30000" />
    </appSettings>
    <myAppSettings>
        <traceOption enabled="true"
                     filePath="C:\MyApp\Trace.log"
                     bufferSize="10240" />
    </myAppSettings>
</configuration>
